<p>listallcust works!</p>
<p>emplist works!</p>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">NAME</th>
      </tr>
    </thead>
    <tbody >
      <tr class="clickable" *ngFor="let emp of customer">
        <td>
            <a class="nav-link active" aria-current="page" routerLink="/updatecust/{{emp.id}}" routerLinkActive="active" aria-current="page" >
                {{ emp.id }}
              </a>
        </td>
        
        <td>{{emp.name}}</td>
        <td>
          <button (click)="onDelete(emp)">X</button>
        </td>
      </tr>
    </tbody>
  </table>