I am {{name|uppercase}}
I am {{name|lowercase}}
{{25|currency:'INR':'code'}}
{{date|date:'shortDate'}}
{{57.678|number:"2.4-5"}}
{{emp|json}}

<input type="text" [(ngModel)]="name" />

<!-- ngIf -->
<div *ngIf="displayName; then thenBlock;else elseBlock"></div>
<ng-template #thenBlock>
  <div style="color: blue">Welcome Blue</div>
</ng-template>
<ng-template #elseBlock>
  <div style="color: red">Welcome Red</div>
</ng-template>

<!-- ngSwitch -->
<div [ngSwitch]="color">
  <div *ngSwitchCase="'red'">
    <h2 style="color: red">Red Color</h2>
  </div>
  <div *ngSwitchCase="'blue'">
    <h2 style="color: blue">Blue Color</h2>
  </div>
  <div *ngSwitchCase="'green'">
    <h2 style="color: green">Green Color</h2>
  </div>
  <div *ngSwitchDefault>
    <h2 >Choose a color</h2>
  </div>
</div>

<!-- ngFor-->
<div *ngFor="let item of colors">
  <div [style.color]="item">{{item}}</div>
</div>



<div>
  <h2 class="success">Good Evening</h2>
  <h2 [class]="successclass">Good Evening</h2>
  <h2 [ngClass]="msgclass">Good Evening</h2>
</div>

<div>
  <h2 style="color:purple">Good Evening</h2>
  <h2 [style.color]="mystyle">Good Evening</h2>
  <h2 [ngStyle]="dstyle">Good Evening</h2> 
</div>
<input type="submit" value="click me" (click)="sayByeBye()"/>

<app-parent></app-parent>